{% extends 'base.html.twig' %}

{% block title %}Edit book{% endblock %}

{% block body %}
    <h1>Edit Book</h1>

    {{ include('admin/_form.html.twig', {
        form: form,
        back_url: path('admin_author_index'),
        back_label: 'Back to author list',
        submit_label: 'Update',
    }, with_context = false) }}
{% endblock %}